// COLOR PALETTE

$clr0: #eb6a32;
$clr1: #6d9dc5;
$clr2: #2274a5;
$clr3: #80ded9;
$clr4: rgb(244, 67, 54);
$clr5: #2274a5;
$clr6: #445e93;
$clr7: rgb(53, 52, 51);

// LAYOUT BREAKPOINTS

$break-narrow: 740px;
$break-normal: 960px;
$break-wide: 1280px;

$headerHeight: 70px;
