.offcanvas-aside {
  position: fixed;
  height: 100%;

  background: rgba(255, 255, 255, 1);
  //   background-image: url("../img/2.jpg");
  //   background-repeat: no-repeat;
  //   background-attachment: scroll;
  //   background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 350px;
  right: -110vw;
  z-index: 10;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.offcanvas-aside img {
  border-radius: 50%;
}

.offcanvas-aside p {
  text-align: center;
}

.offcanvas-aside .offcanvas-content-suffix {
  height: 20%;
}

.offcanvas-aside-open {
  right: 0;
}

.help {
  padding: 0;
  margin: 0;
}
.kw-field-wrapper {
  padding-bottom: 10px;

  width: 300px;
  .kw-110293 {
    width: 100% !important;
    height: 55px;
    outline: none;
    border: #a6a6a6 1px solid;
  }
  input.is-success-110293 {
    border: #a6a6a6 1px solid;
  }
  textarea {
    width: 100%;
    border: #a6a6a6 1px solid;
  }
  select {
    border-radius: 5px;
    outline: none;
    border: #a6a6a6 1px solid;
  }
}

.asaid-form {
  .kw-110293 {
    width: 100% !important;
  }
  input {
    width: 100% !important;
    margin-bottom: 10px;
  }
  div,
  textarea {
    margin-bottom: 10px;
    max-width: 300px;
  }
}
