.main-form {
  padding-bottom: 20px;
  height: 270px;
  input {
    height: 50px;
  }
}
.send-ms-btn {
  border: none !important;
  outline: none;
  border-radius: 5px;
  color: white;
}
.kw-field-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-inputs {
  justify-content: center;
  height: 195px;
  padding-bottom: 10px;
  ::placeholder {
    padding: 10px;
    font-size: 1.2rem;
  }
}

.textarea {
  margin-right: 20px;
  select {
    height: 40px;
  }
}
textarea {
  border-radius: 5px;
  border: 1.5px solid rgb(210, 215, 216);
  outline: none;
}
.send-ms-btn {
  width: 100px !important;
  height: 50px;
  font-size: 1.2rem;
  background-color: $clr0;
  outline: none;
  cursor: pointer;
}

.contact-us {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  //   background-color: gray;
  input {
    height: 50px;
    width: 350px;
    border: 1.5px solid rgb(210, 215, 216);
    outline: none;
  }
  select {
    height: 50px;
    width: 350px;
    border-radius: 5px;
    border: 1.5px solid rgb(210, 215, 216);
    outline: none;
    option {
      padding: 10px;
      font-size: 1.2rem;
    }
  }
  h2 {
    font-size: 3rem;
    padding-top: 20px;
    text-align: center;
  }
  h3 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 1.5rem;
    color: gray;
  }
}

@media (max-width: 800px) {
  .main-inputs {
    flex-direction: column;
    height: 400px;
  }
  .main-form {
    height: 400px;
    width: 100%;

    input {
      width: 100%;
      margin-bottom: 5px;
    }
    .textarea {
      width: 100% !important;
      display: flex;
      margin-right: 0;
    }
  }
}

@media (max-width: 500px) {
  .main-form {
    height: 400px;
    width: 100%;

    input {
      width: 300px;
      margin-bottom: 5px;
    }
    .textarea {
      width: 300px !important;
      display: flex;
      margin-right: 0;
    }
  }
}
