.footer {
  height: 100%;
  padding: 50px;
  h5 {
    color: white !important;
  }
}

.office-details {
  font-size: 1.7rem;
}

.footer-logo {
  width: 200px;
}

// .footer-details {
//   div {
//     text-align: center;
//     justify-content: center;
//   }
// }

.map {
  width: 300px;
  height: 300px;
}

.App-footer {
  height: 500px;
  background-color: #2a2630;
}
