.footer {
  height: 100%;
  padding: 50px;
  padding-bottom: 10px;
  h5 {
    color: white !important;
  }
}

.office-details {
  padding-top: 13px;
  font-size: 1.2rem;
  color: #e75113;
}

.footer-logo {
  width: 250px;
  height: 140px;
  margin-bottom: 20px;
}

// .footer-details {
//   div {
//     text-align: center;
//     justify-content: center;
//   }
// }

.map {
  width: 300px;
  height: 300px;
}

.social-svg-mask {
  // fill: rgb(37, 211, 102);\
  fill: rgb(189, 185, 185) !important;
}

.whatsapp .social-svg-mask:hover {
  fill: rgb(37, 211, 102) !important;
}

.linkedin .social-svg-mask:hover {
  fill: rgb(0, 127, 177) !important;
}
.facebook .social-svg-mask:hover {
  fill: rgb(59, 89, 152) !important;
}

.social-icons {
  justify-content: center;

  a {
    margin-left: 10px;
    height: 35px !important;
    width: 35px !important;
  }
}
.App-footer {
  height: 500px;
  background-color: #011627;
}

.website-map {
  padding-top: 13px;

  div {
    margin-right: 15px;
  }
  a {
    color: white;
    font-size: 1rem;
  }
  a:hover {
    color: #e75113;
  }
}

@media (max-width: 830px) {
  .social-icons {
    flex-direction: row !important;
    margin-bottom: 20px;
  }
  .App-footer {
    height: 700px;
  }
  .footer {
    padding: 10px;
    height: 700px;
  }

  .footer-details {
    flex-direction: column-reverse;
    align-items: center;
    div {
      padding-bottom: 15px;
    }
  }
  .App-footer {
    height: 700px;
    background-color: #011627;
  }
}

@media (max-width: 500px) {
  .footer {
    align-items: center;
    height: 700px;
    padding: 10px;
    h5 {
      display: flex;
      justify-content: center !important;
    }
    div {
      flex-direction: column;
      //
    }
    .website-map {
      flex-direction: row;

      div {
        align-items: flex-start !important;
        justify-content: flex-start !important;
      }
    }
  }
  .App-footer {
    height: 700px;
    background-color: #011627;
  }
}
