.list-group-item {
  padding: 6px 10px !important;
}
.card-container {
  flex-wrap: wrap;
}
#des {
  max-height: 80px !important;
}

.list-group-item {
  border-bottom: none;
}
#maslul-link {
  border-top: 1px solid gray;
  height: 80px !important;
  .card-link {
    font-weight: bold;
  }
}
.card-link:hover {
  color: darkblue !important;
}

.notforread {
  color: rgba(255, 255, 255, 0);
}

.list-group-flush {
  background-color: white;
}
.maslul1 {
  height: 400px !important;
}
.maslul2 {
  height: 755px !important;
}
.card {
  width: 30vw;
  max-width: 350px;
  font-size: 1rem;
}
.card-header {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  height: 86px;
}

.price {
  span {
    font-weight: bold;
  }
}
.price:hover {
  color: black !important;
}
.card-container {
  margin-bottom: 40px;
  span {
    font-size: 14px;
  }
}

@media (max-width: 800px) {
  .card {
    min-width: 250px;
    margin-bottom: 20px;
  }
  .card-container {
    flex-wrap: wrap;
  }
  .maslul1 {
    height: 480px !important;
  }
  .maslul2 {
    height: 780px !important;
  }
}

@media (max-width: 500px) {
  .card {
    min-width: 80%;
    margin-bottom: 20px;
  }
  .card-container {
    flex-wrap: wrap;
  }
}
