.ourService-container {
  padding-top: 20px;
  margin-bottom: 20px;
  padding-right: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  // grid-template-rows: repeat(auto-fill, minmax(400px, 5fr));
  gap: 20px;
  padding: 0 30px;
  max-width: 1200px;
  justify-content: center;
  margin: 0 auto;
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
