.profile-pic {
  width: 25%;

  img {
    height: 200px;
    width: 170px;
  }
}

.about-office {
  width: 75%;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid black;
  p {
    max-width: 100%;
  }
}

.about-container {
  margin: 0 auto;
  width: 90%;
  margin-top: 50px;
  align-items: center;
  margin-bottom: 50px;
}
