.main-img {
  width: 100%;
  //   height: 500px;
  // max-height: 90vh;
  //   min-height: 500px;
  position: relative;
  top: 0;
  left: 0;
}

.img-carousel {
  width: 100%;
  height: 500px;
}

.ant-row {
  margin-bottom: 0;
}

.logo-main {
  width: 300px;
  position: absolute;
  top: 30%;
  left: 40%;
  font-size: 2rem;
  color: black;
  font-weight: bold;
  color: red;
}
.main-img-home {
  position: relative;
  top: 0;
  left: 0;
}

.services-list {
  // margin: 30px 0;
  //   justify-items: center;
  // background-color: rgba(231, 202, 147, 0.335);
  background-image: url("https://res.cloudinary.com/artyompogosov/image/upload/v1580578518/x7ujqinu11rwrwytvojs.png");
  background-repeat: repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  padding-bottom: 20px;
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    // color: $clr0;
  }
}

.about-erez {
  padding-top: 30px;
  padding-bottom: 30px;
  h2 {
    font-size: 3rem;
    width: 80%;
    text-align: center;
    // color: $clr0;
  }

  p {
    font-size: 2rem;
    width: 80%;
    text-align: center;
  }
}

.open.form-modal {
  max-width: 600px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  position: fixed;
  top: 25%;
  right: 10%;
  left: 10%;
  margin: auto;
  z-index: 101;
  h2 {
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(192, 192, 192);
  }

  form {
    padding-top: 10px;
  }
}

.modal-open.screen {
  visibility: visible;
  opacity: 0.5;
}

.screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 100;
}

.top-serveice {
  width: 80%;
  justify-content: space-around;
  font-size: 2rem;
  flex-wrap: wrap;
  padding-right: 0;
  div {
    margin: 10px;
  }
  i {
    margin-left: 5px;
    color: $clr0;
  }
  li {
    display: flex;
    justify-content: center;

    align-items: center;
    align-content: center;
  }
}

@media (max-width: 830px) {
  .img-carousel {
    height: 400px;
  }
  .contact-us {
    padding-bottom: 30px;

    h2,
    h3 {
      padding: 0 20px;
    }
  }
  .open.form-modal {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .img-carousel {
    height: 300px;
  }
}
