.main-img {
  width: 100%;
  //   height: 500px;
  max-height: 90vh;
  //   min-height: 500px;
}

.img-carousel {
  width: 100%;
  height: 500px;
}

.ant-row {
  margin-bottom: 0;
}

.services-list {
  // margin: 30px 0;
  //   justify-items: center;
  background-color: rgba(231, 202, 147, 0.335);
  padding-bottom: 20px;
  h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: $clr0;
  }
}

.about-erez {
  padding-top: 30px;
  padding-bottom: 30px;
  h2 {
    font-size: 3rem;
    width: 80%;
    text-align: center;
    color: $clr0;
  }

  p {
    font-size: 2rem;
    width: 80%;
    text-align: center;
  }
}

.open.form-modal {
  max-width: 600px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px;
  position: fixed;
  top: 25%;
  right: 10%;
  left: 10%;
  margin: auto;
  z-index: 101;
  h2 {
    margin-bottom: 0;
  }
  h3 {
    margin-bottom: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(192, 192, 192);
  }

  form {
    padding-top: 10px;
  }
}

.modal-open.screen {
  visibility: visible;
  opacity: 0.5;
}

.screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 100;
}

.top-serveice {
  width: 80%;
  justify-content: space-around;
  font-size: 2rem;
  i {
    margin-left: 5px;
    color: $clr0;
  }
  li {
    display: flex;
    justify-content: center;

    align-items: center;
    align-content: center;
  }
}

@media (max-width: 830px) {
  .img-carousel {
    height: 400px;
  }
  .contact-us {
    padding-bottom: 30px;

    h2,
    h3 {
      padding: 0 20px;
    }
  }
  .open.form-modal {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .img-carousel {
    height: 300px;
  }
}
