.App {
  position: relative;
  min-height: 100vh;
}

.main {
  padding-bottom: 2.5rem;
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.App-header {
  height: 70px;
  background-color: rgb(104, 104, 199);
}

.App-footer {
  height: 150px;
  background-color: gray;
}
